{% extends "layout.twig" %}
{% block content %}

<section class="section main checkout-page">
	{{zone('main')|raw}}
</section>
<style>.template-header .widget.ecombasket { display: none; }</style>
{% endblock %}