<header class="template-header container">
	<div class="row">
		<div class="header-title span-12">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
			{{widget('companyname', 'companyname', {"business": "Supply"})|raw}}
		</div>
		<nav class="template-nav span-12">
			{{widget('extendednavigation', 'navigationheader', {})|raw}}
			{{widget('ecombasket', 'ecombasket', {})|raw}}
		</nav>
	</div>
</header>