{% extends "layout.twig" %}
{% block content %}
<div class="row">
	<header class="home-feature span-12">
		{{widget('feature', 'featurewidget', {"header": "Lorem Ipsum", "strapline":"Maecenas libero purus, pharetra ornare", "buttonText":"Maecenas","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
	</header>
</div>

<section class="section main home-page">
	{{zone('main')|raw}}
</section>

{% endblock %}